# Database
DB_URL=jdbc:postgresql://localhost:5432/noto-db
DB_USERNAME=
DB_PASSWORD=

# Server
PORT=8080

# JPA
SHOW_SQL=false

# JWT
JWT_SECRET=
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=86400000

# App
REGISTRATION_ENABLED=false
LOG_LEVEL=DEBUG

